header {
  background: rgb(246, 105, 120);
  background: linear-gradient(
    124deg,
    rgba(246, 105, 120, 1) 25%,
    rgba(243, 231, 109, 1) 60%
  );
}

.navbar {
  width: 73%;
  margin: 0 auto;
  height: 246px;
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-container-logo {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-container-logo::before {
  content: "Мястото за варненски събития с кауза";
  width: 100%;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  bottom: 0;
}

.navbar-container-logo a {
  width: 15%;
}

.navbar-container-logo img {
  width: 100%;
}

.navbar-container-logo p {
  font-size: 44px;
  font-weight: 700;
  color: #fff;
  margin-left: 10px;
  padding-bottom: 15px;
}
